canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
.restart {
    display: block;
    width: 200px;
    height: 40px;
    border: solid 1px orange;
    border-radius: 15px;
    background-color: rgb(255, 207, 118);
    margin-top: 10px;
    cursor: pointer;
    transition: all 1s ease;
}
.restart:hover {
    background-color: orange;
}